<div ng-controller="applicationController">
    <div class="header-nav">
        <ul>
            <!--<li><a ui-sref="home" ui-sref-active="nav-btn-active">Home</a></li>-->
            <li><a ui-sref="shots" ui-sref-active="nav-btn-active">Home</a></li>
            <li class="right-btn" ui-sref-active="nav-btn-active"><a href="https://github.com/dannyYassine/angularjs-dribbble-client"
                   target="_blank">
                <img class="right-btn-img" src="/assets/github.png"/>
                </a>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="full-height" ui-view></div>

    <div footer></div>
</div>